body {
    padding-top: 10px;
}

.open .dropdown-menu {
    left: -125%;
}
.navbar-form {
margin-bottom: 20px;
}

#video {
    text-align:center;
}

a {
color: white;
text-decoration: none;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
color: #98BED3;
background-color: transparent;
}

.navbar-inverse .nav > li > a {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.well {
    background-color: #E0E6E9;
    color: #595959;
    text-align:center;
}
.well > h1 > a {
    color: #595959;
}

#splashButton {
    height: 200px;
}
h1 {
    color: #595959;
    size: 60px;
}

.btn-primary {
    background-image: none;
    background-color: #98BED3;
}

.btn-primary:hover{
    background-color:#98BED3;
}


.navbar-inverse .navbar-inner {
    background-color:#595959;
    background-image: none;
    border-color:#595959;
}

.navbar-inverse .brand {
color: #ffffff;
}
.navbar-inverse > a:hover, .navbar-inverse > a:focus {
color: #98BED3; 
}

.hero-unit {
    color:#595959;
}

h2 {
    color:#595959;
}

p {
    color:#595959;
}

#brian {
    height:200px;
}

#descript {
    text-align:left;
}
#sidebar {
    position: fixed;
    right: 130px;
    text-align: right;
    top: 80px;
}
