{% extends 'base.html' %}
{% block title %} Search: {{query}} {{user.username}} {% endblock %}
{% block content %}
<h1>{{course.name}}</h1>
<hr>

<div class="container">
    <div class="row">
        <div class="span12">
            <p>You searched for: {{query}}</p>
        </div>
        {% if courses %}
        <div class="span12" id="current">
            <h1> Results</h1>
            <hr>
            {% for course in courses %}
                {% include 'classbox.html' %}
            {% endfor %}
        </div>
        {% else %}
        <div class="span12">
            <p>No results were found</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

