{% extends 'base.html' %}
{% block title %} Classery - {{user.username}} {% endblock %}
{% block content %}
<h1>{{course.name}}</h1>

<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="span12" id="current">
            <h1> Current Courses </h1>
                <div class="well">
                    <img src="/static/images/tools.jpg" style="float:right; margin:40px;"></img>
                    <h1>Woodworking by Hand</h1> <br>
                    <h2>Description:</h2> 
                    <p>In this course, I'll teach you to make wooden objects the way that nature intended - using the power of steel and Snickers bars. Working only by hand, I'll teach you all the techniques that you need to learn to care for, set up, and of course use your tools, from sharpening to sawing. By the end, you'll have finished your very own small project - a simple decorative jewelry box, and you'll be well on your way to mastering this delightful hobby.</p><br>
                    <h2>Instructor: Brian Shourd</h2>
                    <br>
                    <a href="/courses/hand-tool-woodworkin/"><button class="btn-primary" href="/courses/{{course.url}}/">Go to Class</button></a>
                </div>
            {% for course in currentCourses %}
                {% include 'classbox.html' %}
            {% endfor %}
        </div>
        <div class="span12" id="current">
            <h1> Past Courses </h1>
            {% for course in pastCourses %}
                {% include 'classbox.html' %}
            {% endfor %}
        </div>
        {% else %}
        <div class="span12">
            <p>Please log in to see your courses.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

