{% extends "base.html" %}

{% block title %}Classery - the Consierge of Knowledge{% endblock %}


{% block content %}
<div class="container">


  <div class="row">
      <div class="span6">
          <div class="well" id="splashButton" style="padding-top:100px">
              <h1><a href="accounts/register/">Sign Up</a></h1>
          </div>
      </div>
      <div class="span6">
          <div class="well" id="splashButton" style="padding-top:100px">
              <h1><a href="index.html">Tell Me More</a></h1>
          </div>
      </div>
  </div>
</div>
{% endblock %}

