{% extends 'base.html' %}

{% block title %} Browse Courses {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="span9" id="activities">
                <h1> Current Courses! </h1>
                <hr>
                {% for course in currentCourses %}
                    <div class="well">
                        <h3> {{course.name}} </h3> <br>
                        Instructor(s): 
                            <ul>
                                {% for instructor in course.instructors.all %}
                                <li>{{instructor.username}}</li>
                                {% endfor %}
                            </ul>
                        <br>
                        Description: {{course.description}} <br>
                        <a href="/courses/{{course.url}}/"><button class="btn-primary" href="/courses/{{course.url}}/"> Learn More! </button></a>
                    </div>
                {% endfor %}
                <h1> Upcoming Courses! </h1>
                <hr>
                {% for course in upcomingCourses %}
                    <div class="well">
                        <h3> {{course.name}} </h3> <br>
                        Instructor(s): 
                            <ul>
                                {% for instructor in course.instructors.all %}
                                <li>{{instructor.username}}</li>
                                {% endfor %}
                            </ul>
                        <br>
                        Description: {{course.description}} <br>
                        Start Date: {{course.startDate}} <br>
                        <a href="/courses/{{course.url}}"><button class="btn-primary" href="/courses/{{course.url}}/"> Learn More! </button></a>
                    </div>
                {% endfor %}
            </div>
            <div class="span3" id="search">
                <form id="searchForm" action="/search" method="get"> 
                    <input type="text" name="query" width="10" value="Search for a class here!"> 
                    <button type="submit" class="btn-primary">Search </button> 
                </form>
            </div>
            <div class = "span3" id="request">
                Want to learn something, and we don't offer a course? Request something here!
                <form id="requestForm"> 
                    <textarea cols="40" rows= "5" name="request"> Type out your request here! </textarea>
                    <button type="submit" class="btn-primary" action="/courses/request/"> Submit </button>
                </form>
            </div>
            <div class = "span3" id="mostPopular">
                <h3> Most popular Courses: <h3>
            </div>
        </div>
    </div>
{% endblock %}


