{% extends 'base.html' %}

{% block title %} Browse Courses {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="hero-unit">
                <h1> Are you an expert? </h1>
                <p> Share your unique talent and make money! Classery is looking for proffessionals and experts who want to help others learn their craft. Are you an expert seamstress, cigar box guitar maker, miniature painter, etc? Whatever your unique talent is, Classery can help you put together a professional effective course! To learn more, contact us below.</p>
                <button class="btn-primary" href="mailto:teaching@classery.com">teaching@classery.com </button>
            </div>
        </div>
    </div>
{% endblock %}


