{% extends 'base.html' %}
{% block title %} {{course.name}} {% endblock %}
{% block content %}
<h1>{{course.name}}</h1>
<hr>

<div class="container">
    <div class="row">
        <div class="span9">
            <div id="instructors" class="hero-unit">
                Instructor(s): {% for instructor in course.instructors.all %} {{course.instructor.name}}, {% endfor %} <br>
            </div>
        </div>
        <div class="span3">
            <div>
                List of courses
            </div>
        </div>
    </div>
</div>

