{% extends 'base.html' %}
{% block title %} {{course.name}} {% endblock %}
{% block content %}
<h1>{{course.name}}</h1>
<div class="container">
    <div class="row">
        <div class="span9">
            <div class="well">
                Instructor(s): {% for instructor in course.instructors.all %} {{instructor.username}}, {% endfor %} <br>
            </div>
            {% for lesson in lessons %}
            <div class="well">
                    <h3> Lesson {{lesson.number}}: {{lesson.name}} </h3>
                    <p> {{lesson.description}} </p>
                    <a href="/courses/{{course.url}}/lesson/{{lesson.number}}"><button class="btn-primary">Go to this Lesson </button></a>
            </div>
            {% endfor %}
        </div>
        <div class="span3">
            <div class="well">
                List of courses
            </div>
        </div>
    </div>
</div>
{% endblock %}

