{% extends 'base.html' %}
{% block title %} {{course.name}} - Lesson {{lesson.number}} - {{lesson.name}} {% endblock %}
{% block content %}
<h1>{{course.name}}</h1>
<hr>

<div class="container">
    <div class="row">
        <div class="span9">
            <div id="video" class="hero-unit">
                Video!
            </div>
            <div id="homework">
                Homework!
            </div>
        </div>
        <div class="span3">
            <div id="help">
                Comment/Help
            </div>
            <div>
                ??????
            </div>
        </div>
    </div>
</div>
        
