{% extends "base.html" %}
{% block title %} Log in {% endblock %}
{% block content %}
  <script type="text/javascript"> window.location = "/courses/browse/"</script>
  <div class="row">
    <div class="span12">
        <h3> Log in </h3>
        <hr>
    </div>
  </div>
  {% if not user.is_authenticated %}
    {% if error %}
      <div class="alert alert-error"> {{error}} </div>
    {% endif %}  
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <div class="control-group">
        <label for="username" class="control-label">User name:</label>
        <div class="controls">
            <input type="text" name="username" value="" id="username">
        </div>
      </div>
      <div class="control-group">   
        <label for="password" class="control-label">Password:</label>
        <div class="controls">
            <input type="password" name="password" value="" id="password">
        </div>
      </div>
      <div class="controls">
        <button type="submit" class="btn"> Sign in </button>
        <input type="hidden" name="next" value="{{ next|escape }}" />
      </div>
    </form>
  {% else %}
    <div class="alert alert-success"> You are logged in as {{user.username}} </div>
  {% endif %}
  
{% endblock %}
